/*
 * Using something I put together here:
 * http://paletton.com/#uid=53p0u0kwi++bu++hX++++rd++kX
 */
body {
    background-color: #2196F3;
    font-size: 18px;
}

.container {
    background-color: #FFF;
}
