<!doctype html>
    <head class="no-js" lang="{{ .Site.LanguageCode}}">
        {{ partial "head-content.html" . }}
    </head>
    <body>
        <div class="container blog-post">
            {{ partial "page-header.html" . }}

            <div class="row">
                <div class="col-md-8">

                    <h2>{{ .Title }}</h2>

                    {{ if .Params.rendertoc }}
                    {{ .TableOfContents }}
                    {{ end }}

                    <article>
                        {{ .Content }}
                    </article>


                </div><!--/.col-md-8-->

            </div><!--/.row-->

            <!-- Simple nav row -->
            <div class="row">
                <div class="col-md-3 text-left">
                    {{ if .Next }}
                    <a class="previous" href="{{.Next.Permalink}}">&laquo; {{.Next.Title}}</a>
                    {{ end }}
                </div>
                <div class="col-md-4 text-center">
                    <a class="all-posts" href="/blog">All posts</a>
                </div>
                <div class="col-md-3 text-right">
                    {{ if .Prev }}
                    <a class="next" href="{{.Prev.Permalink}}">{{.Prev.Title}} &raquo;</a>
                    {{ end }}
                </div>
            </div><!--/.row-->

        </div> <!-- /.container -->
        {{ partial "body-scripts.html" . }}
        {{ partial "google-analytics.html" . }}
    </body>
</html>
